.mainWrapper {
    height: 80vh;
    margin-bottom: 10vh
}

.responseWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    /* 自動改行対策 */
    word-wrap: break-word; /* IE 5.5+ */
    overflow-wrap: break-word;
    .soundWrapper {
        display: flex;
        justify-content: right;
    }
}

.uploadFileWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 0 10vw;
}